<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Test</title>
    <script src="js/lib/angular/angular.js" ype="text/javascript"></script>

    <script src="js/app.js" 
            type="text/javascript"></script>
</head>  
<body ng-app='app'>
   
  <a href="#/about">About</a> |
  <a href="#/"> Home</a>
  <!-- uncomment if HTML5Mode on -->
  <!-- <a href="/about"> /about</a> | -->
  <!-- <a href="/"> home</a> -->
  <hr />
  <div ng-view></div>
</body>
</html>

